<%- model_class = RetailerOrder -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form', locals: {url: admin_retailer_order_path(@retailer_order)} %>
