<%- model_class = OrderItem -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<% retailer_order_id = @retailer_order.present? ? @retailer_order.id : nil %>
<%= render :partial => 'form', locals: {url: admin_order_item_path(@order_item, retailer_order_id: retailer_order_id)} %>